.App {
  text-align: center;
}

.header{
  background-color: #2f3030;
}

body{
  background-color: #2f3030;
  color: white;
}

table{
  width: 700px;
}

.selected{
  box-sizing: border-box;
  color: white;
  outline: 3px solid #1a5e8f;
  outline-offset: -1px;
  height: 100%;
  display: flex;
  width: 100%;
}

.today{
  background-color: #1a5e8f;
  color: white;
  height: 95%;
  outline: 1px solid black;
  height: 100%;
  display: flex;
  width: 100%;
}

.header{
  display: flex;
}

.buttons{
  display: flex;
  fill: white;
  padding-top: 40px;
}

.current{
  padding: 40px 406px 40px 40px
}

.previous{
  margin-right: 80px;
  
}

.current__title{
  color: white;
}

.time{
  background-color: #2f3030;
  color: white;
  padding-left: 40px;
  padding-bottom: 25px;
}

.line{
  margin: 0;
}

.time__current{
  font-size: -webkit-xxx-large;
}

.date{
  color: #1a5e8f;
}

.outMonthDay{
  color: white;
  opacity: .4;
  width: calc(100% / 7);
  height: 70px;
}

.number{
  margin: 38px;
}

.inside__day{
  height: 100%;
  display: flex;
  width: 100%;
}

.container{
  display: grid;
  grid-template-columns: 1fr 1fr;
}