.App {
  text-align: center;
}

.header{
  background-color: #494d4e;
}

body{
  background-color: #494d4e;
  color: white;
}

.calendar .day{
  position: relative;
  width: calc(100% / 7);
  height: 44px;
  display: inline-block;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  z-index: 1;
  text-align: center;
}

.selected{
  background-color: darkblue;
  color: white;
  height: 95%;
  border: 1px solid black;
}

.header{
  display: flex;
  justify-content: space-around;
}

.buttons{
  display: flex;
  fill: white;
}

.current{
  margin-right: 800px;
}

.previous{
  margin-right: 35px;
  
}

.current__title{
  color: white;
}

.days__name{
  display: flex;
}

.time{
  background-color: #494d4e;
  color: white;
  padding-left: 87px;
}

.line{
  margin: 0;
}

.time__current{
  font-size: -webkit-xxx-large;
}

.date{
  color: darkblue;
}